name: Full Stack CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - name:  Checkout code
        uses: actions/checkout@v3

      - name:  Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name:  Install backend dependencies
        working-directory: ./server
        run: npm install

      - name:  Run backend tests or lint (optional)
        working-directory: ./server
        run: echo "No tests configured"

      - name:  Install frontend dependencies
        working-directory: ./client
        run: npm install

      - name:  Build frontend
        working-directory: ./client
        run: npm run build

      - name:  Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.CHHAYA_02 }}  
          publish_dir: ./client/dist                 
         

